body {
    width: 30em;
}

.qualityValue {
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: #717171;
    height: 1.5em;
    border-radius: .3em;
}

    .qualityValue:hover {
        background-color: #E6E6E6;
    }

.selected {
    background-color: greenyellow;
}

.settings{
	float:left;
	width:30%;
	border:solid 1px black;
	height:21em;
	margin-left:-1px;
}
.header{
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: #717171;
    height: 1.5em;
	border-bottom: 1px solid black;
	padding: 5px 0;
    background-color: #C3FFDB;
}
input.annotationValue,
input.loopValue{
	height: 2em;
    width: 100%;
    margin: 5px 0;
}
.clear {
	clear:both!important;
}
#message{
	color:green;
	text-align:center;
}
#version{
	font-weight: bold;
    font-size: 16px;
    margin: 5px;
	color: #717171;
}
#warning{
	color: red;
	font-size: 15px;
	width: 91%;
	margin: 5px;
	font-weight: bold;
}